div{
    background-color: #e4bad4;
    border: black solid 5px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: auto;
    margin-top: 200px;
}
body{
    background-color: #caf7e3;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
}